@{
    ViewData["Title"] = "Home Page";
}

    <h1>Sacrament Meeting Planner</h1>

<div class="row">
    <div class="">
        <h2>Welcome to the Sacrament Planner</h2>
        <div>
        <img src="/lib/HBanner.jpg" class="Himg"/>
        <p class="HP">
            The Sacrament Meeting Planner provides a web interface to planning sacrament meetings providing access to members and the ability to print a program.
            This web application also provides a history of speakers and topics.
        </p>
        </div>
    </div>
</div>